.navbar {
  background-color: #74747400;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.home_bg {
  background-image: url('../images/banner.webp');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.container_table {
  width: 100%;
  height: 100%;
  position: relative;
}

.container_table_cell {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  h1 {
    text-align: center;
  }
  p {
    font-size: 18px;
    margin-top: 45px;
  }
}
.social_icons {
  text-align: center;
  a {
    color: #fff;
    display: inline-block;
    width: 30px;
    height: 40px;
    line-height: 40px;
    font-size: 19px;
    margin-right: 7px;
  }
}

.gallery_card {
  background-color: #817e7a;
  &:hover {
    box-shadow: 5px 5px 5px #333333;
    -webkit-box-shadow: 5px 5px 5px #333333;
    -moz-box-shadow: 5px 5px 5px #333333;
  }
}
